$color_1:#222222;
$color_2: #F16D7F;
$color_3: #FFFFFF;
$color_4: #9F9F9F;
$color_5: #000000;
$color_6: #5D5D5D;
$color_7: #F26376;
$color_8: #FBFBFB;
$color_9: #222224;
$color_10: black;
$font-family_1:'Lato',
sans-serif;
$background-color_hover: purple;
$background-color_2: #FF6A6A;
$widthSite:1140px;
$backBlock:#222;
$colorText:#000;
$gapGrid:30px;
$widthBurgerMenu:232px;

/*$thirdSite:($widthSite - $gapGrid) / 3;*/